<form class="shinobi sheet actor" autocomplete="off">
  <header>
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Имя"/></h1>
  </header>

  <section>
    <h2>Характеристики</h2>
    <div class="grid">
      <label>СКР</label>
      <input type="number" data-dtype="Number" name="system.abilities.skr.value" value="{{system.abilities.skr.value}}"/>
      
      <label>ЧКР</label>
      <input type="number" data-dtype="Number" name="system.abilities.ckr.value" value="{{system.abilities.ckr.value}}"/>

      <label>ПЧТ</label>
      <input type="number" data-dtype="Number" name="system.abilities.pcht.value" value="{{system.abilities.pcht.value}}"/>

      <label>СИЛ</label>
      <input type="number" data-dtype="Number" name="system.abilities.str.value" value="{{system.abilities.str.value}}"/>

      <label>РКЦ</label>
      <input type="number" data-dtype="Number" name="system.abilities.rcx.value" value="{{system.abilities.rcx.value}}"/>

      <label>ВЫН</label>
      <input type="number" data-dtype="Number" name="system.abilities.vit.value" value="{{system.abilities.vit.value}}"/>
    </div>

    <h2>Производные</h2>
    <div>
      Скорость: {{system.derived.speed.value}}<br>
      Действия: {{system.derived.actions.value}}<br>
      Обморок: {{system.derived.thresholds.faint}},
      Увечье: {{system.derived.thresholds.maim}},
      Предсмертное: {{system.derived.thresholds.dying}}
    </div>

    <h2>Ресурсы</h2>
    <div>
      HP: <input type="number" data-dtype="Number" name="system.resources.hp.value" value="{{system.resources.hp.value}}"/> / {{system.resources.hp.max}}<br>
      Покров: <input type="number" data-dtype="Number" name="system.resources.shroud.value" value="{{system.resources.shroud.value}}"/> / {{system.resources.shroud.max}}<br>
      Чакра: <input type="number" data-dtype="Number" name="system.resources.chakra.value" value="{{system.resources.chakra.value}}"/> / {{system.resources.chakra.max}}
    </div>
  </section>
</form>
